{% extends 'base.html.twig' %}

{% block main %}
    <html lang="en">
    <body>

    <header>
        <!-- Full Page Intro -->
        <div class="view">
        {#<div class="view" style="background-image: url('{{ asset('uploads/images/background/2.jpg') }}');#}
         {#background-repeat: no-repeat;  min-height : 100%;min-width : 100%;background-size:100% 100%;">#}
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient align-items-center" >
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row mt-5">

                        <!--Grid column-->
                        <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
                            <h3 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s" style="color: yellow">Register! </h3>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <div class="nav-item">
                                <p><a class="btn btn-primary btn-lg" href="{{ path('users_register') }}" role="button">Register &raquo;</a></p>
                            </div>
                            <h3 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s" style="color: yellow">Login! </h3>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <div class="nav-item">
                                <p><a class="btn btn-primary btn-lg" href="{{ path('security_login') }}" role="button">Login &raquo;</a></p>
                            </div>
                            <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga
                                nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea
                                dolor molestiae, quisquam iste, maiores. Nulla.</h6>
                            <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s">Learn more</a>
                        </div>

                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6 col-xl-5 mb-4">
                            {% if app.user %}
                            <h2>Welcome {{ user.fullName }}!</h2>
                            <div class="nav-item">
                            <p><a class="btn btn-primary btn-lg" href="{{ path('users_profile', {'id': user.id }) }}" role="button">My profile &raquo;</a></p>
                            </div>
                            <div class="nav-item">
                            <p><a class="btn btn-primary btn-lg" href="{{ path('tyres_create') }}" role="button">Sell Tyres &raquo;</a></p>
                            </div>
                            <div class="nav-item">
                            <p><a class="btn btn-primary btn-lg" href="#" role="button">Add Promotion &raquo;</a></p>
                            </div>
                            <div class="nav-item">
                            <p><a class="btn btn-primary btn-lg" href="{{ path('tyres_view_all') }}" role="button">View all tyres &raquo;</a></p>
                            </div>
                                <div class="nav-item">
                                    <p><a class="btn btn-primary btn-lg" href="{{ path('tyres_view_all') }}" role="button">SearchType Tyres&raquo;</a></p>
                                </div>
                            {% else %}
                            <ul class="nav flex-column">
                            </ul>
                            {% endif %}
                            </div>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            <!-- Mask & flexbox options-->
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->
    <!--Main Layout-->
    <main>
        <div class="container">
            <!--Grid row-->
            <div class="row py-5">
                <!--Grid column-->
                <div class="col-md-12 text-center">
                    <p>Welcome to our Online shop. Here you can buy or sell products, add promotions and many more..</p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </main>
    <!--Main Layout-->

    {#</body>#}
    {#</html>#}
    {#<div class="container">#}
    {#<div class="jumbotron" >#}
    {#<div class="container">#}
    {#<h1 class="display-3">HOME PAGE</h1>#}
    {#<p>Welcome to our Online shop. Here you can buy or sell products, add promotions and many more..</p>#}
    {#{% if app.user %}#}
    {#<h2>Welcome {{ user.fullName }}!</h2>#}
    {#<div class="nav-item">#}
    {#<p><a class="btn btn-primary btn-lg" href="{{ path('users_profile', {'id': user.id }) }}" role="button">My profile &raquo;</a></p>#}
        {#<p><a class="btn btn-primary btn-lg" href="{{ path('tyres_search') }}" role="button">Search By Tyre Size&raquo;</a></p>#}
    {#</div>#}
    {#<div class="nav-item">#}
    {#<p><a class="btn btn-primary btn-lg" href="{{ path('tyres_create') }}" role="button">Sell Tyres &raquo;</a></p>#}
    {#</div>#}
    {#<div class="nav-item">#}
    {#<p><a class="btn btn-primary btn-lg" href="#" role="button">Add Promotion &raquo;</a></p>#}
    {#</div>#}
    {#<div class="nav-item">#}
    {#<p><a class="btn btn-primary btn-lg" href="{{ path('tyres_view_all') }}" role="button">View all tyres &raquo;</a></p>#}
    {#</div>#}
    {#{% else %}#}
    {#<ul class="nav flex-column">#}
    {#<li class="nav-item">#}
    {#<p><a class="btn btn-primary btn-lg" href="{{ path('users_register') }}" role="button">Register &raquo;</a></p>#}
    {#</li>#}
    {#<li class="nav-item">#}
    {#<p><a class="btn btn-primary btn-lg" href="{{ path('security_login') }}" role="button">Login &raquo;</a></p>#}
    {#</li>#}

    {#</ul>#}
    {#{% endif %}#}
    {#</div>#}
    {#</div>#}
    {#{% block body %}{% endblock %}#}
    {#</div>#}
    {% endblock %}


