{% extends 'base.html.twig' %}

{% block main %}
   <div class="container">
      <div class="jumbotron" >
         <div class="container">
            <h1 class="display-3">HOME PAGE</h1>
            <p>Welcome to our Online shop. Here you can buy or sell products, add promotions and many more..</p>
            {% if app.user %}
            <h2>Welcome {{ user.fullName }}!</h2>
               <div class="nav-item">
                  <p><a class="btn btn-primary btn-lg" href="{{ path('users_profile', {'id': user.id }) }}" role="button">My profile &raquo;</a></p>
               </div>
               <div class="nav-item">
                  <p><a class="btn btn-primary btn-lg" href="{{ path('tyres_create') }}" role="button">Sell Tyres &raquo;</a></p>
               </div>
               <div class="nav-item">
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">Add Promotion &raquo;</a></p>
               </div>
               <div class="nav-item">
                  <p><a class="btn btn-primary btn-lg" href="{{ path('tyres_view_all') }}" role="button">View all tyres &raquo;</a></p>
               </div>
            {% else %}
            <ul class="nav flex-column">
               <li class="nav-item">
                  <p><a class="btn btn-primary btn-lg" href="{{ path('users_register') }}" role="button">Register &raquo;</a></p>
               </li>
               <li class="nav-item">
                  <p><a class="btn btn-primary btn-lg" href="{{ path('security_login') }}" role="button">Login &raquo;</a></p>
               </li>

            </ul>
            {% endif %}
         </div>
      </div>
       {% block body %}{% endblock %}
   </div>
{% endblock %}


