{% extends 'base.html.twig' %}

{% block main %}
<html lang="en">
<body>
<header>
    <div class="jumbotron" style="margin-top: 20px">
        <div class="mask rgba-gradient align-items-center">
            <div class="container">
                <h1 style="text-align: center; font-size: 60px; color: yellowgreen">Home Page</h1>
                <div class="row mt-5">
                    <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
                        <h3 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"
                            style="color: yellow">Register now! </h3>
                        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="nav-item">
                            <p><a class="btn btn-primary btn-lg" href="{{ path('users_register') }}" role="button">Register&raquo;</a></p>
                        </div>
                        <h3 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"
                            style="color: yellow">Login! </h3>
                        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="nav-item">
                            <p><a class="btn btn-primary btn-lg" href="{{ path('security_login') }}" role="button">Login
                                    &raquo;</a></p>
                        </div>
                        <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">Welcome to our Tyres Shop. Here you can sell or buy tyres. Search tyres
                        by size or brand.</h6>
                        <a href="{{ path('about_page') }}" class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s"><button class="btn-success">Learn more</button></a>
                    </div>

                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mb-4">
                        {% if app.user %}
                            <h2  style="color: yellow">Welcome {{ user.fullName }}!</h2>
                            <div class="nav-item">
                                <p><a class="btn btn-primary btn-lg"
                                      href="{{ path('users_profile', {'id': user.id }) }}" role="button">My profile&raquo;</a></p>
                            </div>
                            <div class="nav-item">
                                <p><a class="btn btn-primary btn-lg" href="{{ path('tyres_create') }}" role="button">Sell
                                        Tyres&raquo;</a></p>
                            </div>
                            <div class="nav-item">
                                <p><a class="btn btn-primary btn-lg" href="#" role="button">Add Promotion&raquo;</a>
                                </p>
                            </div>
                            <div class="nav-item">
                                <p><a class="btn btn-primary btn-lg" href="{{ path('tyres_mainPage') }}" role="button">Auto Tyres&raquo;</a></p>
                            </div>
                            <div class="nav-item">
                                <p><a class="btn btn-primary btn-lg" href="{{ path('cart_show') }}" role="button">Go to Shopping Cart&raquo;</a></p>
                            </div>
                        {% else %}
                            <ul class="nav flex-column">
                            </ul>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
{% endblock %}

