{% extends 'base.html.twig' %}

{% block main %}

    <div class="alert alert-dismissible alert-danger text-center" id="error"
         style="display: none; position: fixed; left: 30%">
        <button type="button" class="close" data-dismiss="alert"></button>
        <strong>Oh snap! Chosen quantity is bigger than available quantity or not a valid number!</strong>
    </div>
    <div class="jumbotron">
    <h2 style="text-align: center">My Shopping Cart</h2>
    <hr/><h3 style="text-align: center">My money:</h3>
    <h3 class="text-success" style="text-align: center"> {{ app.user.money }} лв.</h3>
    <hr/>
    <div class="container" style="text-align: center">
        <a href="{{ path('users_profile',{'id':app.user.id}) }}">
            <button class="btn-primary">Deposit money</button>
        </a>
    </div>
    <hr/>
    {# @var cart \AppBundle\Entity\Cart #}
    {% if purchaseDetails is empty %}
        <div class="text-danger" style="text-align: center"><h2>Your cart is empty</h2>
            <a href="{{ path('tyres_view_all') }}">
                <button class="btn-primary">Go shopping!</button>
            </a></div>
    {% else %}
        <div class="container" style="text-align: center">
            <a href="{{ path('tyres_view_all') }}">
                <button class="btn-primary">Continue shopping</button>
            </a>
        </div>
        {{ form_start(form) }}
        <form method="post" name="purchase">
            <table class="table table-primary" border="2" style="background-color: greenyellow">
                <thead class="thead-dark">
                <tr>
                    <th class="text-secondary" style="text-align: center">Items:</th>
                    <th class="text-secondary" style="text-align: center">Product</th>
                    <th class="text-secondary" style="text-align: center">Description</th>
                    <th class="text-secondary" style="text-align: center">Price/PC</th>
                    <th class="text-secondary" style="text-align: center">Available Tyres</th>
                    <th class="text-secondary" style="text-align: center">Number Tyres</th>
                    <th class="text-secondary" style="text-align: center">End Price</th>
                    <th class="text-secondary" style="text-align: center">Remove</th>
                </tr>
                </thead>
                <tbody>

                {% for purchaseDetail in purchaseDetails %}
                    <tr>
                        <td>{{ loop.index }}.</td>
                        <td><img class="media-object img-rounded img-responsive" width="75px" height="150px%"
                                 src="{{ asset('uploads/images/tyres/' ~ purchaseDetail.tyre.image) }}"
                                 alt="placehold.it/350x250"></td>
                        {# @var tyre \AppBundle\Entity\Tyre #}
                        <td>
                            <span style="color: darkmagenta">{{ purchaseDetail.tyre.make }}{{ purchaseDetail.tyre.model }}</span>
                            {{ purchaseDetail.tyre.width }}/{{ purchaseDetail.tyre.height }}
                            R{{ purchaseDetail.tyre.diameter }} {{ purchaseDetail.tyre.loadIndex }}{{ purchaseDetail.tyre.speedIndex }}
                        </td>
                        <td style="text-align: right" id="pricePerTyre">{{ purchaseDetail.tyre.price }} лв.</td>
                        <td>{{ purchaseDetail.tyre.quantity }}</td>
                        <td><input type="number" id="quantity" placeholder="Choose number of tyres"
                                   onchange="checkQuantity(this)" name="cart[quantity{{ loop.index }}]"></td>
                        <td style="color: red; text-align: right" id="endPrice">0 лв.</td>
                        <td><a class="btn btn-danger"
                               href="{{ path('cart_delete', {'purchaseDetailsId': purchaseDetail.id}) }}">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="8" style="text-align: right">Total Sum: <span id="totalSum">0 лв.</span></td>
                </tr>
                </tbody>
                {{ form_end(form) }}
            </table>
        </form>

    {% endif %}
    </div>
    <script>
        function checkQuantity(el) {
            let tr = el.parentNode.parentNode;
            let availableQuantity = parseInt($(tr).find("td:nth-child(5)").html());
            let chosenQuantity = parseInt($(el).val());

            if (!Number.isInteger(chosenQuantity)) {
                handleError(el)
            } else {
                if (chosenQuantity > availableQuantity) {
                    handleError(el)
                } else {
                    let pricePerTyre = parseFloat($(tr).find("td:nth-child(4)").html());
                    let endPriceBox = $(tr).find("td:nth-child(7)");

                    let totalPrice = (chosenQuantity * pricePerTyre).toFixed(2);
                    endPriceBox.text(totalPrice);
                    calculateTotalSum(tr);
                }
            }
        }

        function handleError(el) {
            let errorBox = $('#error');
            errorBox.css("display", "inline");
            setTimeout(function () {
                $('#error').fadeOut();
            }, 4000);
            $(el).val('Choose number of tyres');
        }

        function calculateTotalSum() {
            let totalSum = $('#totalSum');
            let sums = $("table td:nth-child(7)");
            let totalResult = 0;
            for (let sum of sums) {
                totalResult += parseFloat(sum.textContent);
            }
            totalSum.text(totalResult.toFixed(2) + ' лв.');
        }
    </script>
{% endblock %}

