{% extends 'base.html.twig' %}

{% block main %}
    <h1 class="text-center">Tyres</h1>
    <hr>
    <div class="container">
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div>
            {% for tyre in pagination %}
                <div class="list-group">
                <div class="list-group-item">
                    <div>
                        {# @var tyre \AppBundle\Entity\Tyre #}
                        <h3 class="text-warning" style="text-align: center">{{ tyre.make }} {{ tyre.model }}</h3>
                        <h4 class="list-group-item-heading text-success" style="text-align: center">{{ tyre.width }}/{{ tyre.height }}
                            R{{ tyre.diameter }} {{ tyre.speedIndex }} {{ tyre.loadIndex }}</h4>
                        <img class="media-object img-rounded img-responsive" width="100px" height="200px%"
                             src="{{ asset('uploads/images/tyres/' ~ tyre.image) }}"
                             alt="placehold.it/350x250">
                        <span style="margin-left: 600px;">
                            <span style="font-size: 30px" class="price" ><span  class="text-warning">Price: </span >{{ tyre.price }} <span class="text-warning" > лв.</span></span>
                </span>

                    </div>
                    <span  class="text-warning" style="bottom: auto">Quantity:  </span><span class="quantity">{{ tyre.quantity  }}</span> left
                    <p class="list-group-item-text"><span class="text-warning">Viewed: </span> {{ tyre.viewCount }} times</p>
                    <p class="list-group-item-text"><span class="text-warning">Seller: </span> {{ tyre.seller.fullName }}</p>
                    <p class="list-group-item-text"><span class="text-warning">Category: </span> {{ tyre.category.name }}s</p>
                </div>
                    <a href="{{ path('tyres_view_one', {'id': tyre.id}) }}"><button type="button" class="btn btn-primary btn-lg btn-block"> View details</button></a>
                <hr>
            </div>
            {% else %}
                <h2>No Tyres Found. Please, try again!</h2>
            {% endfor %}
        </div>
    </div>

    {# display navigation #}
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}