{% extends 'base.html.twig' %}

{% block main %}
    <h1 class="text-center">Tyres</h1>
    <div class="list-group">
        <div class="list-group-item">
            <!--Heading with class .list-group-item-heading-->
            <span>
                {# @var tyre \AppBundle\Entity\Tyre #}
                <h3 class="text-warning">{{ tyre.make }} {{ tyre.model }}</h3>
                <h4 class="list-group-item-heading">{{ tyre.width }}/{{ tyre.height }}
                    R{{ tyre.diameter }} {{ tyre.speedIndex }} {{ tyre.loadIndex }}</h4>
                    <img class="media-object img-rounded img-responsive" width="100px" height="200px%"
                         src="{{ asset('uploads/images/tyres/' ~ tyre.image) }}"
                         alt="placehold.it/350x250">
                </span>
            <!--Paragraph with class .list-group-item-text -->
            <p class="list-group-item-text">Viewed: {{ tyre.viewCount }}</p>
            <p class="list-group-item-text">Seller: {{ tyre.seller.fullName }}</p>
            <p class="list-group-item-text">Category: {{ tyre.category.name }}s</p>
        </div>
        {% if app.User() and(app.getUser().isAdmin() or app.getUser().isSeller()) %}
            <a href="{{ path('tyres_edit', {'id': tyre.id}) }}">
                <button type="button" class="btn btn-primary btn-lg btn-block"> Edit</button>
            </a>
            <a href="{{ path('tyres_delete', {'id': tyre.id}) }}">
                <button type="button" class="btn btn-primary btn-lg btn-block"> Delete</button>
            </a>
        {% else %}
            <button type="button" class="btn btn-primary btn-lg btn-block"> Buy Now</button>
        {% endif %}
        <hr>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" href="{{ path('tyres_view_all') }}">Back</a>
        <a class="btn btn-primary" href="{{ path('tyres_view_all') }}">Add feedback for the product</a>
    </div>
{% endblock %}